@import "tailwindcss";
/* Optional if you use Tailwind, but useful if outside JSX */
.carousel-blur {
    position: absolute;
    top: 0;
    width: 104px;
    height: 100%;
    z-index: 10;
    pointer-events: none;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  